

/* Formatting for the filter buttons */

.filterButtonGroup {
    display: flex;
    flex-wrap: wrap;
}


/* Formatting for the pictures that appear in the gallery */


.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.galleryItem {
    max-width: 500px;
    margin: 4px;
}


/* Formatting for the Modal popup */


.modalImageOuterContainer {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column ;
    align-items: center;
}


.modalImageDescriptionContainer {
    display: flex;
    flex-wrap:nowrap;
    align-items: center;

}
.modalImageDescriptionItem {
    margin-left: 8px;
    margin-right: 8px;
}