

/* Formatting for the filter buttons */

.filterButtonGroup {
    display: flex;
    flex-wrap: wrap;
}


/* Formatting for the pictures that appear in the gallery */


.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.galleryItem {
    max-width: 500px;
    margin: 4px;
}


/* Formatting for the Modal popup */


.modalImageShell {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    max-width: 95vw;
    width: 600px;
    max-height: 98vh;
    overflow-y: scroll;

    background-color:#fefae0;
    border: 3px solid #283618;
    box-Shadow: 24,
}

.modalImageheaderBar {
    background-color: #606C38;
    display: flex;
    flex-direction: row-reverse;

  }



.modalImageOuterContainer {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column ;
    align-items: center;
}


.modalImageDescriptionContainer {
    display: flex;
    flex-wrap:nowrap;
    align-items: center;

}
.modalImageDescriptionItem {
    margin-left: 8px;
    margin-right: 8px;
}