.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.galleryItem {
    width: 500px;
    margin: 4px;
}

.filterButtonGroup {
    display: flex;
    flex-wrap: wrap;
}