


/* Formatting for the pictures that appear in the gallery */

/*Component meant to force the entire page to be a bunch of flex boxes */
.diceRollerTopDivContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    align-items: center;

}


.diceRollerInputDivContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    align-items: center;
}

.diceRollerInputLabelDiv
{
    width: 140px;
    text-align: right;
}

.diceRollerInputField
{
    min-width: 40px;
    width : 60px;
}
