


/* Formatting for the pictures that appear in the gallery */

/*Component meant to force the entire page to be a bunch of flex boxes */
.diceRollerTopDivContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    align-items: center;

}

/* A class used by every wrapper component in this view */
.componentContainer {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    margin:10px;
    width:375px;
}

/* Input component classes and associated wrappers */
.diceRollerInputDivContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    align-items: center;
    margin: 2px;
}

.diceRollerInputLabelDiv
{
    width: 140px;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;

}

.diceRollerInputField
{
    min-width: 40px;
    width : 60px;
}

/* Result component classes and associated wrappers */

.diceRollerResultWrapperDiv
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    align-items: center;
    margin: 2px;
}

.diceRollerResultLabelDiv
{
    width: 140px;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;

}

.diceRollerResultDiv
{
    min-width: 40px;
}


/* Button component classes and associated wrappers */

.diceRollerActionButtonContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content:flex-start;
    align-items: center;
    margin: 2px;
}
