
/* Only use for adding styling to the full document - currently, not convinced we actually need this, but at least we have it in case we do.  */



html{
    min-height: 100%; 
}

body {
    min-height: 100%;
    color: #283618;
    font-family:sans-serif 
}


/*Define some defaualt colors for standard elements commonly used on this site. */

h1 {
    color: #283618;
  }


h2 {
    color: #283618;
}

h3 {
    color: #283618;
}

/*Set some default boundaries for tables to keep from overflowing in smaller screens (i.e: Phones) */

table {
    max-width: 95vw;
}

